.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.box {
    background-color: mediumorchid;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    
}